@import "../../theme/vars.scss";

.topIndent {
  margin-top: 2rem;
}

svg.MuiStepIcon-root.MuiStepIcon-completed {
  background-color: $pallette-secondary;
}

svg.MuiStepIcon-root.MuiStepIcon-active {
  background-color: $pallette-secondary;
}
