@import "../../theme/vars.scss";

button.actionButtons {
  border-radius: unset;
}
div.baseIriField {
  max-width: 500px;
  > div {
    border-radius: unset;
  }
}
div.globalSettingsForm {
  margin-bottom: 1rem;
  padding: 0 1rem;

  .normalSettings {
    margin-bottom: 1rem;
  }
}
.tableWrapper {
  margin: 1rem;

  tbody > tr:last-child td {
    border-bottom: unset;
  }
}
th.tableHeader {
  font-weight: bold;
  &:hover {
    background-color: #eee;
  }
  &.disabled {
    cursor: default;
    background-color: #ccc;
  }
}

td.tableCell {
  padding: 2px;
  &:hover {
    background-color: #eee;
  }
  &.disabled {
    cursor: default;
    background-color: #ccc;
  }
}

button.cellButton {
  width: 100%;
  &:hover {
    background-color: #eee;
  }
}
.hint {
  pointer-events: none;
}
.keyColumnWrapper {
  display: flex;
  margin-bottom: 1rem;
  align-items: baseline;
  .keyColumnSelector {
    min-width: 120px;
  }
  .keyColumnInfo {
    margin-left: 1rem;
  }
}

div.datatypeSelector {
  margin-bottom: 10px;
  min-width: 150px;
}
